<section id="hero" class="hero d-flex align-items-center">

    <div class="intro">
        <h1> Voorbereiding </h1>
        Om je event te organiseren, is een goede voorbereiding nodig. In onderstaand sjabloon kan je alle voorbereidende taken noteren om je event tot in de puntjes voor te bereiden.
     </div>

     <div class="center">
        
          <small><i>***Hier moet jij selecteren voor welke event moet jij gecontacteerd geworden, als de event niet bestaat moet uw eerst aanmaken bij <a href="#">"Info Event"</a></i></small><br>
          <label for="event">Event:</label>
          <select class="form-control" id="event">
            <option>None selected</option>
            
          </select>

          <label for="taak">Taak<small><i> (Wat moet er gebeuren?) </i></small>:</label>
          <input type="text" class="form-control" id="taak" >
        
          <label for="verantwoordelijke">Verantwoordelijke<small><i> (Wie neemt de taak op zich?) </i></small>:</label>
          <input type="text" class="form-control" id="verantwoordelijke" >

          <label for="opmerkingen">Opmerkingen:</label>
          <input type="text" class="form-control" id="opmerkingen" >

          <label for="deadline">Deadline<small><i> (Wanneer moet de taak af zijn?) </i></small>:</label>
          <input type="text" class="form-control" id="deadline" >

          <label for="status">Status:</label>
          <select class="form-control" id="status">
            <option value="Todo">TO DO </option>
            <option value="in uitvoering ">In uitvoering </option>
            <option value="Uitgevoerd">Uitgevoerd</option>
          </select>
        </div>

</section>
<div class="eventcard">
    <div class="card center-card">
        <div class="card-header">
            <h1>Voorbereiding Lijst</h1>
            
            Hier onder vind je alle toegevoegd voorbereiding:
          </div>
        <table class="table table-hover">
            <thead> 
                <tr>
                    <th scope="col">Taak</th>
                    <th scope="col">Verantwoordelijke</th>
                    <th scope="col">Opmerkingen</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Status</th>
                    <th scope="col">Event</th>
                </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
    </div>
</div>
