.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .center-card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 15px;
}
.eventcard{
    margin-bottom: 30px;
}
.intro{
    width: 40%;
    margin-left: 20px;
}