.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
#smalllock{
    width: 25px;
}

.intro{
    width: 25%;
    background-color: white;
    margin-left: 135px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;

    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}