<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <div class="container">
        <div class="row">
        <div class="logo d-flex align-items-center col">
          
          <img src="assets/img/logo.png" alt="">
          <span><h4>Plan-It Culture</h4></span>
        </div>
  
        <div class="col-10">
        <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto " href="/info-event">Info event<small><img id="smalllock" src="assets/img/lock2.png"/></small></a></li>
              
              <li><a class="nav-link scrollto" href="/contact">Contact<small><img id="smalllock" src="assets/img/lock2.png"/></small></a></li>
              <li><a class="nav-link scrollto " href="/programma">Programma<small><img id="smalllock" src="assets/img/lock2.png"/></small></a></li>
              <li><a class="nav-link scrollto " href="/budget-en-kostenraming">Budget en kostenraming<small><img id="smalllock" src="assets/img/lock2.png"/></small></a></li>
              <li><a class="nav-link scrollto " href="/voorbereiding">Voorbereiding<small><img id="smalllock" src="assets/img/lock2.png"/></small></a></li>
              <li><a class="nav-link scrollto " href="/overview">Overview</a></li>
              <li><a class="nav-link scrollto " href="/kalendar">Kalendar</a></li>
             </ul>
          </nav><!-- .navbar -->
        </div>
        </div>
      </div>
      </div>
    </header><!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
  
    <section id="hero" class="hero d-flex align-items-center">
       
        <p class="intro">
            Stress over het organiseren van uw Events, werknemers? Over het aankondiging van programma's voor uw evenement?
            Plan-It Culture has got you covered.
        </p>

        <iframe  width="75%" height="450" class="center" src="https://www.youtube.com/embed/OLD63-rUNWg?autoplay=1&mute=1">
        </iframe>
     
        
    </section><!-- End Hero -->
    

